<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>چند شنبه</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="text-center">
        <h1><img src='/svg/logo.svg'/> چند شنبه </h1>
        <p>چه روزی از هفته بیشتر پول خرج میکنید؟</p>
        <p>چند شنبه برنامه ایست که بر اساس تراکنش های شما مشخص میکند چه روزی از هفته بیشتر هزینه میکنید. شما میتوانید تراکنش های خود را با فرمت اکسل ایمپورت کرده و یا تراکنش های خود را از بانک آینده مستقیما دریافت کنید.</p>
        <hr>
        <a href="/login" class="btn btn-warning"><span class="fa fa-user" style="margin-left: 10px;"></span>ورود به چند شنبه</a>
    </div>

</div>
</body>
</html>
