<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>چند شنبه</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header" style="height: 40px;">
        <span class="fa fa-user" style="font-size: 32px;"><font class="yekan"> صفحه شخصی</font></span>
        <span style="float: left;"><a href="/logout" class="btn btn-default btn-sm">خروج</a></span>
    </div>

    <div class="row">
        <!-- HADAF INFORMATION -->
        <div class="well">
            <p>برای ایمپورت کردن تراکنش های خود یکی از گزینه های زیر را انتخاب نمایید.</p>
            <div class="text-center">
                <a href="<%= hadaf %>/api/oauth2/authorize?client_id=chandshanbeh&response_type=code&redirect_uri=<%= redirect_uri %>/transactions&scope=transactions:*" class="btn btn-warning" style="margin-left: 5px;">ورود تراکنش ها با آدانالس</a>

                <a class="btn btn-default" style="margin-right: 5px;">آپلود فایل</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>
